<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Todo list</h1>

  <ul>
    <% @fruit.each do |fruit| %>
     <li><%= fruit %></li>
     <% end %>
  </ul>

</body>
</html>